@import url(../Styles.css);

/*----------------------------------------------------------------------------------------*/
/*Lateral Bar*/
/*----------------------------------------------------------------------------------------*/

.social-button-container {
    display: flex;
    justify-content: start;
    align-items: center;
    flex-direction: column;
    width: fit-content;
    height: 100%;
    gap: 50px;
}

.social-button-container ul {
    gap: 2em;
}

.social-item a {
    width: 2.5em;
    height: 2.5em;
}

.return-button {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100px;
    height: 100px;
    border-top: 0;
    border-left: 0;
}

.return-button span {
    transform-origin: center;
    transform: rotate(-40deg);
}

/*----------------------------------------------------------------------------------------*/
/*Projects*/
/*----------------------------------------------------------------------------------------*/

main {
    width: 100%;
    padding: 1em;
    overflow-y: auto;
}

main > h1 {
    margin: 0 0 30px 50px;
}

.projects-container {
    display: flex;
    flex-wrap: wrap;
    gap: 3vw;
    padding: 0 50px;
}

.project-item {
    min-width: 150px;
    max-width: 229px;
    padding: 0 5px 5px 5px;
    box-shadow: 4px 4px 2px var(--clr-blur);
}

.project-item img {
    max-height: 100px;
}

.project-item:hover {
    box-shadow: none;
}

.bottom-container {
    display: flex;
    justify-content: space-between;  
}

.bottom-container span {
    position: relative;
    height: fit-content;
}

.bottom-container .project-play-button {
    display: flex;
    gap: .2em;
    padding: 2px;
}


